header {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    
}

body {
    background-color: #e5e4e2;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    padding: 5%;
    margin: auto;
    text-align: center;
    width: 80ch;
    color: #003839;
}

ol{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

ul, li {
    list-style-type: square;
    text-align: left;
    margin-left: 10%;
    
}

h2 {
    font-size: large;
    
}    

h3{

    text-decoration: underline;
    color: #003839;

}