h1 {
    text-align: center;
    font-family: sans-serif;
    color: #003839;
    font-size: 40px;
    
}

h3{
    font-family: sans-serif;
    color: #003839;
}

body{
    
    margin-left: 100% auto;
    text-align: center;
    
    

}

p{
    font-family: sans-serif;
    
}

#LDC img{

    width: 250px;
    height: 300px;
    border: 3px solid black;
}

#TC img {

    width: 250px;
    height: 300px;
    border: 3px solid black;

}

#SD img{
    width: 250px;
    height: 300px;
    border: 3px solid black;
}


ul li{

    list-style-type: square;
    font-family: sans-serif;
    color: #003839;
    list-style-position: inside;
}





