h1 {
    text-align: center;
    font-family: sans-serif;
    color: #003839;
    font-size: 40px;
}

body {
    background-color:#f5f5f5;
    font-family: sans-serif;
    color: #003839;
    width: 100ch;
    margin: auto;
    
}

footer {
    font-size: 90%;
    display: block;
    overflow: hidden;
    clear: both;
    margin-left: -0px;
    margin-top: 100px;
    border: 2px solid #000000;
    padding: 5px;
    text-align: center;
    font-family: sans-serif;
}

table, th, tr, td {
    margin: auto;
    border: 1px solid black;
    border-spacing: 10px;
}

table {
    background-color: gray;
}

th {
    background-color: lightgray;
}

td {
    width: 300px;
    height: 200px;
    background-color: lightgray;
}

div {
    margin: auto;
    padding: 20px;
    position: relative;
}

#info {
    text-align: center;
}

#pris > td {
    text-align: center;
}

#size {
    width: 60%;
    text-align: center;
}

#totalPris, #kvmPris {
    font-size: 26px;
    font-weight: bold;
}

